# Day 1

In [8]:
#elif ques basic done week 1

'''
muliple elif doesn't check others
if bahut saare har baar check and then end mein else check (dangaling else)
'''

marks = 95
if marks >= 91 and marks<=100:
    print ("A")
if marks >= 81 and marks <= 90:
    print ("B")
if marks>=71 and marks<= 80:
    print("c")
if marks >= 61 and marks<=79:
    print("D")
if marks >= 0 and marks<= 60:
    print ("FAIL")
else:
    print("Invalid")

A
Invalid

In [17]:
#foo-bar;ig fizz buzz

'''user input koi bhi no-: 3 foo
5 se-: boo
3 and 5 foo bar
nothing foo foo bar bar'''

c=int(input())
if(c%15==0): #idhar if first condition 3 waali raki hoti so 30 wale case mein problem
    print('foo bar')
elif(c%3==0):
    print('foo')
elif(c%5==0):   
    print('bar')
else:
    print('foo foo bar bar')

30
foo bar

In [20]:
#operator precedence

print(10*9/4)
print(10*9/4**2)
print(10*9 > 4**2) #>< very niche precedence mein

22.5
5.625
True

In [21]:
#nested if else
# positive neg 0

num=int(input("no ?"))
if num>=0:
    if num==0:
        print('O')
    else:
        print('+ve')
else:
    print('-ve')

no ?3
+ve

In [24]:
#Functions
def greet(): #function defination
    print("i am greet function")
    print("done")
greet() #call

#interpreter so ulta nahi ki greet call pehle not possible -: Name error

i am greet function
done

In [25]:
#addition

#pass -: doesn't do anything; cannot leave functions empty

def add():
    pass 

add()

In [30]:
#global and local variable ; scoping
#har variable ka scope jaha tak woh valid hote hai
#-: function tak limited scope -: local

def add():
    a=10 #loc
    b=20 #loc
    total=a+b #loc
    print(total)
    
def sub():
    a=200 #loc
    b=20 #loc
    total=a-b #loc
    print(total)

#a=100  if global banao toh
add()
sub()
#print(a) #name error ; function ke andar apni duniya local variables ki

30
180

In [38]:
#types of func
'''
without parameter; without return
with parameter; without return
without parameter; with return
with parameter; with return
'''
# argument -: joh bhej rahe ho
# parameters -: joh define kar rahe func

def add(a:int,b:int):
    
    total=a+b #loc
    print(total)

add(10,3)
add("harsh","uttamchandani") 
# annotation karlo a:int b:int 
#still work kar jaayega
#add(10,"harsh") #error str+int not allowed

13
harshharsh

In [42]:
#named parameters
def marks(physics: float, chemistry: float, maths: float, english: float):
    total = physics + chemistry + maths + english
    print(f"Total marks scored = {total}")

#positional arguments ussi pos mein and joh bheje woh name se woh named
# marks (59, 87, 81, 99) direct map kardega 
marks (english=99, physics=11, maths=34, chemistry=100) #apan ne jaise di hai uske hisaab se apne aap
marks (59, 88, english=11,maths=89)
#marks (59, english=11,maths=89,88) # pehle waale aage daaldo else poisitional argument follows keyword error

Total marks scored = 244
Total marks scored = 247

# Assigments are at end together

# Day 2

In [3]:
#default arguments

def marks(physics: float, maths: float, english: float,chemistry: float=0):
    # default argument should be at right always important else not work
    #joh joh chahiye right pein
    total = physics + chemistry + maths + english
    print(f"Total marks scored = {total}")
    
marks (59, 88,23,89)
marks (59, 88,23) #takes 0 apne aap
marks ('59', '88','23','23')#string contanecate ; sirf annotations hai vs mein red dikhadega
#marks ('59', '88','23')#error here
# marks (59,english=89,maths=11,40) #positional argument follows keyword argument error

Total marks scored = 259
Total marks scored = 170
Total marks scored = 59238823

In [6]:
#with return

def marks(m1,m2):
    total=m1+m2
    return total

print(marks(7,10))#direct print
x=marks(3,4)#save karke print
print(x)

17
7

In [9]:
#without return
def marks(m1,m2):
    total=m1+m2
    print(total)

x=marks(3,4)#ismein none type hoga
print(x)

7
None

In [10]:
#None
a=6
b=None
print(a,type(a))
print(b,type(b))

6 <class 'int'>
None <class 'NoneType'>

In [12]:
def marks(m1,m2)->int: # -> return type is int annotation
    total=m1+m2
    return total

x=marks(3,4)
print(x)

7

In [14]:
def marks(m1,m2)->str: # -> return type is str msg ke saath annotation
    total=m1+m2
    return f"your marks {total}" 

print(marks(3,4))

your marks 7

In [16]:
#clean coding
#odd_even

def checkoddeve(a:int)->bool:
    if(a%2==0):
        return True
    else:
        return False
a=4
print(checkoddeve(4))

True

In [17]:
#another good way return break kardeta hai so but onli in return not print
def checkoddeve(a:int)->bool:
    if(a%2==0):
        return True
    return False
a=4
print(checkoddeve(4))

True

In [18]:
#age vote

def eligible(age:int)->bool:
    if(age>=18):
        return True
    return False
age=int(input("age=? "))
eligible(age)

age=? 24

True

In [22]:
#here dono print ho jaayenge ; khaali return laga do toh works
def eligible(age:int)->None:
    if(age>=18):
        print ("can vote")
        #return    #return None bhi likh sakte ho
    print ("cannot vote")
age=int(input("age=? "))
eligible(age)

age=? 45
can vote

In [25]:
def min3(a:int,b:int,c:int)->int:
    if(a<b and a<c):
        return a
    elif(b<a and b<c):
        return b
    return c

a=5
b=10
c=8
print(min3(a,b,c))

5

In [24]:
#min3
'''3 integers as input smallest return'''

def min3(a:int,b:int,c:int)->int:
    '''this function returns min value''' #docstring ban jaati vscode mein dikhjaati hai hover karne pein
    minimum=a
    if(b<minimum):
        minimum=b
    if(c<minimum):
        minimum=c
    return minimum

a=5
b=10
c=8
print(min3(a,b,c))

# min inbuilt function also exists use waise that in dsa saves time

5

# Day 3

In [27]:
#while loop
#print hello 15 times
a=1
while(a<=15):
    print(a,"hello")
    a+=1 #if not this infinite loop
print("done")

#cmd+c to exit

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello
11 hello
12 hello
13 hello
14 hello
15 hello
done

In [28]:
#print 1 to 10
a=1
while(a<=10):
    print(a)
    a+=1 #if not this infinite loop ; i=i+1
print("done")

1
2
3
4
5
6
7
8
9
10
done

In [36]:
def pattern(n:int)->None:
    i=1
    while(i<=n):
        print(i,end=' ')
        i+=1
    print() #if no print dono same lines mein aa jaayenge
pattern(10)
pattern(4)

1 2 3 4 5 6 7 8 9 10
1 2 3 4

In [42]:
'''start to end'''
def pattern(start:int,end:int)->None:
    i=start
    while(i<=e):
        print(i,end=' ')
        i+=1
    print() 
start=int(input("start ? "))
e=int(input("end ? "))
pattern(start,e)

start ? 3
end ? 4
3 4

In [45]:
'''sum of numbers 1 to 10'''

def sum(n:int)->int:
    i=1
    sum=0
    while(i<=n):
        sum=sum+i
        i+=1
    return sum
n=10
print(sum(n))

55

In [47]:
'''mul of numbers 1 to 10'''

def mul(n:int)->int:
    i=1
    mul=1
    while(i<=n):
        mul=mul*i
        i+=1
    return mul
n=10
print(mul(n))

3628800

In [51]:
'''Count even no start to end'''
def counteven(start:int,end:int)->None:
    i=start
    count=0
    while(i<=e):
        if(i%2==0):
            count+=1
        i+=1
    return count
start=int(input("start ? "))
e=int(input("end ? "))
print(counteven(start,e))
print(f"no of even no= {counteven(start,e)}") #another way to print

start ? 1
end ? 22
11
no of even no= 11

In [53]:
'''even no sum'''

def counteven(start:int,end:int)->None:
    i=start
    sum=0
    while(i<=e):
        if(i%2==0):
            sum+=i
        i+=1
    return sum
start=int(input("start ? "))
e=int(input("end ? "))
print(f"sum= {counteven(start,e)}") #another way to print

start ? 71
end ? 189
sum= 7670

In [ ]:
#w2 assignment 2 q1

def largest(a:int=None,b:int=None,c:int=None)->int:
    if(a==b and b==c and a==None):
        return -1
    if(a>b and a>c):
        return a
    if(b>a and b>c):
        return b
    if(c>b and c>a):
        return c
print(largest(2,3,6))
print(largest())

# Day 4

In [58]:
#Assignment 2 q3

'''find middle no'''
def middle(a,b,c)->int:
    if((a>b and a<c) or (a>c and a<b)): #a<=b<=c ;c<=b<=a works aise bhii
        return a
    elif ((b>a and b<c) or (b>c and b<a)):
        return b
    return c
print(middle(3,1,2))

2

In [60]:
#control statements
# break and continue
#usually in loops

i=1
while i<5:
    print(i)
    if i==3:
        break
    i+=1
print('done')

1
2
3
done

In [10]:
#return-: function ke bahar
#break-: loop ke bahar

In [ ]:
"""
i=1
while i<5:
    print(i)
    if i==3:
        continue
    #i+=1  #infinite loop chala jaayega;juypter ke la*de lag jaayenge mat karna
print('done')
"""

'''
1
2
3
3
3
....infinite
'''

In [6]:
#correct way 
i=1
while i<5:   
    if i==3:
        i+=1
        continue
    print(i)
    i+=1
print('done')

1
2
4
done

In [9]:
#FOR-LOOPs
'''first 10 no.s'''
# start ,end+1;step
for i in range(1,10,1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [21]:
'''first 10 no.s'''
# start ,end+1;step
for i in range(1,10,1):
    print(i,end=' ')
    #i=100 #likhdo no farak 1 to 10 hi jaayega unlike while

1 2 3 4 5 6 7 8 9

In [20]:
def for_10(start,stop,step):
    for i in range(start,stop+1,step):
        print(i,end=' ')
    
start=int(input("start? "))
stop=int(input("end? "))
step=1
for_10(start,stop,step)

start? 1
end? 10
1 2 3 4 5 6 7 8 9 10

In [33]:
for i in range(1,10,1):
    print("updated",i)
    print(i,end=' ')
    i=100 
print()

print(i)

updated 1
1 updated 2
2 updated 3
3 updated 4
4 updated 5
5 updated 6
6 updated 7
7 updated 8
8 updated 9
9
100

In [34]:
# 0 to 10

for i in range(0,11):
    print(i,end='')

012345678910

In [36]:
#start by default from 0
#range is iterator
# in -: membership

for i in range(11):
    print(i,end='')

012345678910

In [38]:
#use of step
for i in range(2,21,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

In [39]:
# while exceution faster than for

In [40]:
#10 to 1

for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [41]:
#not run; step =1 by default
for i in range(10,0):
    print(i,end=' ')

In [43]:
for i in range(10,-10,-2):
    print(i,end=' ')

10 8 6 4 2 0 -2 -4 -6 -8

In [44]:
for i in range(1,10,1):
    print(i,end=' ')
    if i==5:
        continue
#idhar i increments upar for statement mein hi

1 2 3 4 5 6 7 8 9

In [46]:
#count_even ; sum_even

def even(start,stop)->int:
    sum=0
    for i in range(start,stop+1,step):
        if i%2==0:
            sum+=i
    return sum
    
start=int(input("start? "))
stop=int(input("end? "))
print(even(start,stop))

start? 2
end? 10
30

In [53]:
# ask a no; print factors ;ex for 10 -: 1,2,5,10

def factors(n:int)->None:
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=' ')
    print()

factors(10)
factors(15)

1 2 5 10
1 3 5 15

In [ ]:
#optimal

#square root tak jaana
'''
36
1->36
2->18
3->12
4->9
6->6

sirf 1 to 6 chale jaao
ans order alag ho jaata hai 1,36,2 ,18,3,12,4,9,6
'''
# much faster as 36 ki jagah 6 times onliii
def factors(n:int)->None:
    for i in range(1,(int(n**0.5)+1)):
        if n%i==0:
            print(i,end=' ')
            if n//i!=i:
                print(n//i)# 2 baar print ho jaayega if without condition last waala perfect square case mein
    print()

factors(36)
factors(15)

# DAY 5

In [61]:
#W2 assigment 4 discussion

In [9]:
#'q2' Using while 1 to 2000 leap years

i=1
sum1=0
while(i<=2000):
    if((i%4==0 and i%100!=0) or (i%400==0)):
        #print(i,end=' ')
        sum1+=1
    i+=1
print()
print(sum1)

485

In [8]:
#q4 4-: 10 20 30 40 

n=int(input("n? "))
for i in range(1,n+1):
    print(i*10,end=' ')

n? 11
10 20 30 40 50 60 70 80 90 100 110

In [12]:
#'q5' 4-: 1,2,4,8
#  7-: 1,2,4,8,16,32,64

n=int(input("n? "))
for i in range(0,n):
    print(2**i,end=' ')

n? 4
1 2 4 8

In [15]:
#same with while

n=4
i=0
while(i<n):
    print(2**i)
    i+=1

1
2
4
8

In [20]:
'''q6
1 11 111 1111 11111
0*10+1=1
1*10+1=11
11*10+1=111
111*10+1

x*10+1
'''
n=5
i=1
x=1
while(i<=n):
    print(x)
    x=x*10+1
    i+=1

1
11
111
1111
11111

In [27]:
'''q7 keep taking input until 0 find'''
total=0
i=0
n=int(input())
while(n!=0):
    i+=1
    total+=n
    n=int(input())

avg=total/i
print(avg)

3
5
3
0
3.6666666666666665

In [35]:
'''q7 keep taking input until 0 find ; better way'''

total=0
i=0
while(True):
    n=int(input())
    if n==0:
        break
    total+=n
    i+=1
avg=total/i
print(avg)

1
1
1
0
0.75

In [43]:
'''q9 prime or not
onli 2 factors ho
'''
n=int(input())
f=0
for i in range(2,int(n**0.5)):
    if(n%i==0):
        f=1
        break

if f==1:
    print(False)
else:
    print (True)

2
True

In [ ]:
'''q10 1 to n how many primes
easy way -: prime ka function bool type
loop mein call if hai increase count
also prime function mein call factors func see count==2'''

In [44]:
#Assignment 5 disscusion

'''q2  
n=5
1/1+1/2+1/3+1/4+1/5= print that
'''

n=int(input("no? "))
i=1
a=0
while(i<=n):
    a=a+(1/i)
    i+=1
print(a)

no? 5
2.283333333333333

In [45]:
'''q4 
# Example 1
pattern (x=6, n=4)
# Output
6^1 - 6^3 + 6^5 - 6^7
-272370 (OUTPUT)
# Example 2
pattern(x=9,n-11)
# Output
9^1 - 9^3 + 915 - 9^7 + 9^9 .... upto n times
108084611215274403609 (OUTPUT)
'''
x=int(input("x= ?"))
n=int(input("n= ?"))
power=1
total=0
i=1
while(i<=n):
    if(i%2!=0):
        total+=(x**power)
    else:
        total-=(x**power)
    power+=2
    i+=1
print(total)

x= ?6
n= ?4
-272370

In [2]:
'''
add digits
345 
345%10 =5 and 345//10=34
34%10=4
ans= 3+4+5=12
'''

n=int(input("n? "))
total=0
while(n!=0):
    rem=n%10
    total+=rem
    n=n//10
print(total)

n? 58714
25

# Doubt Session

In [ ]:
#Contest discussion (easy and hard)