# DAY 1

In [3]:
#nested loops

for i in range (1,4):
    print(i,end=' ')
    for j in range(10,13):
        print(j,end=' ')
    print()

1 10 11 12
2 10 11 12
3 10 11 12

In [5]:
'''
*****
*****
*****
*****
*****
'''
#use row and col concept;i for row j for columns

for i in range(1,5):
    for j in range(1,5):
        print('*',end='')
    print()

****
****
****
****

In [7]:
'''
12345
12345
12345
12345
12345
'''
for i in range(1,6):
    for j in range(1,6):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [8]:
'''
11111
22222
33333
44444
55555
'''
for i in range(1,6):
    for j in range(1,6):
        print(i,end='')
    print()

11111
22222
33333
44444
55555

In [10]:
'''
*
**
***
****
*****
'''

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [12]:
'''
1
12
123
1234
12345

'''

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [13]:
'''
1
21
321
4321
54321
'''

for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end='')
    print()

1
21
321
4321
54321

In [15]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end='')
    print()

5
45
345
2345
12345

In [19]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

another way; harder loop ulta
'''
for i in range(1,6):
    for j in range(1,i+1):
        print(5-i+j,end='')
    print()

5
45
345
2345
12345

# Day 2

In [21]:
'''
    *
   **
  ***
 ****
***** 
'''

'\n    *\n   **\n'