# DAY 1

In [3]:
#nested loops

for i in range (1,4):
    print(i,end=' ')
    for j in range(10,13):
        print(j,end=' ')
    print()

1 10 11 12
2 10 11 12
3 10 11 12

In [5]:
'''
*****
*****
*****
*****
*****
'''
#use row and col concept;i for row j for columns

for i in range(1,5):
    for j in range(1,5):
        print('*',end='')
    print()

****
****
****
****

In [7]:
'''
12345
12345
12345
12345
12345
'''
for i in range(1,6):
    for j in range(1,6):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [8]:
'''
11111
22222
33333
44444
55555
'''
for i in range(1,6):
    for j in range(1,6):
        print(i,end='')
    print()

11111
22222
33333
44444
55555

In [10]:
'''
*
**
***
****
*****
'''

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [12]:
'''
1
12
123
1234
12345

'''

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [13]:
'''
1
21
321
4321
54321
'''

for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end='')
    print()

1
21
321
4321
54321

In [15]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end='')
    print()

5
45
345
2345
12345

In [19]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

another way; harder loop ulta
'''
for i in range(1,6):
    for j in range(1,i+1):
        print(5-i+j,end='')
    print()

5
45
345
2345
12345

# Day 2

In [26]:
'''
    *
   **
  ***
 ****
***** 
'''

for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end='')
    print('')

    *
   **
  ***
 ****
*****

In [27]:
'''
    1
   12
  123
 1234
12345 
'''

for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(1,i+1):
        print(j,end='')
    print('')

    1
   12
  123
 1234
12345

In [28]:
'''
    1
   21
  321
 4321
54321 
'''
for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(i,0,-1):
        print(j,end='')
    print('')

    1
   21
  321
 4321
54321

In [33]:
'''
    5
   45
  345
 2345
54321 
way 1
'''
for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(i,0,-1):
        print(6-j,end='')
    print('')

    5
   45
  345
 2345
12345

In [35]:
'''
    5
   45
  345
 2345
12345 
another way easier
'''
for i in range (5,0,-1):
    for sp in range(1,i):
        print(' ',end='')
    for j in range(i,6):
        print(j,end='')
    print('')

    5
   45
  345
 2345
12345

In [36]:
'''
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5
'''

for i in range(1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(6-i,6):
        print(j,end=' ')
    print()

    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [41]:
'''

*
**
***
****
*****
****
***
**
*
'''
n=int(input("n=? "))

for i in range(1,n):
    for j in range(1,i+1):
        print('*',end='')
    print()
    
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    print()

#sir did using n//2 like total lines types and not for even here n stand for first half

n=? 5
*
**
***
****
****
***
**
*

In [ ]:
# doubt and assigment discussion

## Day 3

In [42]:
# question discussion

In [9]:
#W3 assignment 2 hard patterns

'''
      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4 ...
'''
n= int(input())
for i in range(1,n+1):
    for sp in range(1,n-i+1):
        print(" ",end=" ")
    
    for j in range(1,2*i):
        print(i,end=" ") 
        
    print()

5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [17]:

'''
      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1
      
n=7 no. of lines
'''
#n//2=3

n=int(input('n?= '))
nn=n//2+1 #3
for i in range(1,nn+1):
    for sp in range(1,nn-i+1):
        print(" ",end=" ")
    for j in range(1,2*i) :
        print(i, end=" ")
    print()
for i in range(nn-1,0,-1):
    for sp in range(1,nn-i+1):
        print(" ",end=" ")
    for j in range(1,2*i) :
        print(i, end=" ")
    print()

n?= 9
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [18]:
#some discussion about interviews and patterns wale assignment ki baat thodi bahut

In [20]:
#assignment 2 q9
'''
1
2 3
4 5 6
7 8 9 10

'''

count=1
for i in range(1,6):
    for j in range(1,i+1):
        print(count,end=' ')
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
'''
assignment 1 q4
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
'''

for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

## DAY 4

In [26]:
#LISTS
arr=[4,4.5,4,'harsh',False]

print(type(arr))

print(arr)

# arrays in c++ ; array size fixed ; list no size defined
# arrays mein same type of data; list mein nahi hota aisa
#sir uses them interchangebly
#numpy kuch hota but dont confuse for now


#file name dont keep list.py ya koi bhi keyword karke list1.py rakh sakte
#don't name as list -:my_list etc kardena will work not a good practise
#

<class 'list'>
[4, 4.5, 4, 'harsh', False]

In [44]:
my_list=[100,110,112,124]
print(my_list[1])
print(my_list[2])
print(my_list[0])
#print(my_list[10]) index error
print(len(my_list))  #length (0,1,2,3)-:4 ; len keyword
print(my_list[len(my_list)-1]) #last numer
print(my_list[-1]) #negative indexing
print(my_list[-len(my_list)]) #first element
# hauch pauch better way n=len(my_list)
n=len(my_list)
print(my_list[-n])
# middle element -: 50/2 no float ; n//2 ans
print(my_list[n//2]) #mid element



'''
interpretor hai line by line chalta hai 
error name-: Index error
error msg-: List index out of range
error nahi dikhayega jab tak uss line pein nahi
'''

110
112
100
4
124
124
100
100
112

'\ninterpretor hai line by line chalta hai \nerror name-: Index error\nerror msg-: List index out of range\nerror nahi dikhayega jab tak uss line pein nahi\n'

In [48]:
#Iteration
arr=[11,12,13,14,15]

print(arr[0])
print(arr[1])
print(arr[2])
print(arr[3])
print(arr[4])

#iterating by position /index
for i in range(0,len(arr)):# len tak hi as n+1 tak jaana hoga
    print(arr[i],end=' ')

11
12
13
14
15
11 12 13 14 15

In [49]:
#None
a=None
print(type(a))#nonetypr

NoneType

In [51]:
#Iterate by value

arr=[11,12,13,14,15]

for i in arr:
    print(i,end=' ')

11 12 13 14 15

In [52]:
'''
# index ya value kya kare
if position ka kaam like even pos print karoo

iteration by position se both value and index both
iteration by value se onli value nikal sakte ho


so use indexes onlii
'''

'\n# index ya value kya kare\nif position ka kaam like even pos print karoo\n\niteration by position se both value and index both\niteration by value se onli value nikal sakte ho\n\n\nso use indexes onlii\n'

In [54]:
# iteration by both

arr=[11,12,13,14,15]

for index,value in enumerate(arr):
    print(index,value)
    
#enumerate -: unpacking ; index aur value ek saath deta hai

0 11
1 12
2 13
3 14
4 15

In [55]:
#find length without using len

my_list=[54,63,32,45]

l=0
for i in my_list:
    l+=1
print(l)

4

In [60]:
#sum of all the elements
#sum of all even elements
#sum of odd no
#count pos,neg no
#count no divisible by 2,3 both
#print the reverse of the array


a=[1,2,3,4,5,6,7,8,9,10,11,-11,0]
total=0
total_eve=0
total_odd=0
count_pos=0
count_neg=0
count_23=0

for i in range(len(a)):
    total+=a[i]
    if a[i]%2==0:
        total_eve+=a[i]
    else:
        total_odd+=a[i]
    if a[i]>0:
        count_pos+=1
    elif a[i]<0:
        count_neg+=1
    if a[i]%2==0 and a[i]%3==0:
        count_23+=1
print(total,total_eve,total_odd,count_pos,count_neg,count_23)

#reverse
for i in range(len(a)-1,-1,-1):
    print(a[i],end=' ')

55 30 25 11 1 2
0 -11 11 10 9 8 7 6 5 4 3 2 1

In [61]:
#done with lectures

## Assignments