## Week 5 Day 1

In [6]:
#Dictionary
#key-value pairs
marks={"science":34,"maths":45,"hindi":55}
print(marks)
print(type(marks)) #<class 'dict'>
student={"name":"harsh","regno":"21BCE10189","Phone no":"9950228451","cgpa":8.68,"Hostel":True }
print(student)


#immutables
# strings ,tuples
abc={(45,23):"harsh",1:'true',34.2:5,"abc":23}  #tuple,int,float,string immutable
print(abc)

#error
# defa={[23,45]:"fesh"} #unhashable type: 'list'

marks={"science":34,"maths":45,"hindi":55,"maths":34} #last waale marks will be considered
print(marks)

{'science': 34, 'maths': 45, 'hindi': 55}
<class 'dict'>
{'name': 'harsh', 'regno': '21BCE10189', 'Phone no': '9950228451', 'cgpa': 8.68, 'Hostel': True}
{(45, 23): 'harsh', 1: 'true', 34.2: 5, 'abc': 23}
{'science': 34, 'maths': 34, 'hindi': 55}

In [11]:
#accesing values

marks={"science":34,"maths":45,"hindi":55,1:5} 
print(marks)
print(marks["science"])
print(marks[1]) #no index concept
#naukri.com <- coding ninjas

#python 3.5 mein not ordered abhi ordered aata hai
#mutable hai values
marks["maths"]=40
print(marks)

{'science': 34, 'maths': 45, 'hindi': 55, 1: 5}
34
5
{'science': 34, 'maths': 40, 'hindi': 55, 1: 5}

In [17]:
#add,remove,update
marks:dict[str,int] #can do annotations like this 
marks={"science":34,"maths":45,"hindi":55,1:5} 
print(marks)
marks["maths"]=40 #update
print(marks)
marks["xyz"]=40 #add if no key exists add
print(marks)

del marks["science"] #delete del keyword works everywhere
print(marks)

{'science': 34, 'maths': 45, 'hindi': 55, 1: 5}
{'science': 34, 'maths': 40, 'hindi': 55, 1: 5}
{'science': 34, 'maths': 40, 'hindi': 55, 1: 5, 'xyz': 40}
{'maths': 40, 'hindi': 55, 1: 5, 'xyz': 40}

In [33]:
#add,remove,update methods
marks={"science":34,"maths":45,"hindi":55,"married":None} 
print(marks)

#get method
print(marks.get("science")) #if not found gives none
print(marks.get("fas"))

k="science"
v=marks.get(k)
if v is None: #if key ="fdshfg" random something
    print("key doesnt exist")
else:
    print(v)
    
#above problematic for married as a key gives none gets confused

#better way membership
k="mail"
if k in marks:
    print(marks[m])
else:
    print("doesnt exist")
print(marks.get("hindi",None)) #if not found none by default

print(marks.get("hindi",-1))#if not exist return none

marks.clear()
print(marks)

marks={"science":34,"maths":45,"hindi":55,"married":None} 
h=marks.pop("science")
print(h)
print(marks)

{'science': 34, 'maths': 45, 'hindi': 55, 'married': None}
34
None
34
doesnt exist
55
55
{}
34
{'maths': 45, 'hindi': 55, 'married': None}

In [51]:
#traversing

marks={"science":34,"maths":45,"hindi":55,"history":43}

#keys nikalna  
#marks.keys
a=marks.keys()
print(marks.keys()) #iterable
print(type(marks.keys()))

for i in marks:
    print(i,end=' ')
for key in a:
    print(key,marks[key])


#marks.values
for v in marks.values():
    print(v)
print(type(marks.values()))

    
#marks.items both togheter
print(marks.items)
for k,v in marks.items():
    print(k,v)

print(type(marks.items()))

#now converted to list
c=list(marks.keys())
print(type(c))
print(c)

dict_keys(['science', 'maths', 'hindi', 'history'])
<class 'dict_keys'>
science maths hindi history science 34
maths 45
hindi 55
history 43
34
45
55
43
<class 'dict_values'>
<built-in method items of dict object at 0x11180b280>
science 34
maths 45
hindi 55
history 43
<class 'dict_items'>
<class 'list'>
['science', 'maths', 'hindi', 'history']

In [56]:
#copying_dict_list
my_dict={"science":34,"maths":45,"hindi":55,"history":43}
print(id(my_dict))
xyz=my_dict
print(id(xyz))
print(my_dict)
#refering to same onli

#if change in one then in all
xyz["hindi"]=100
print(my_dict) 

#why same refering-> to save memory

a=my_dict.copy()
print(id(a))
#to create different copy

4587512384
4587512384
{'science': 34, 'maths': 45, 'hindi': 55, 'history': 43}
{'science': 34, 'maths': 45, 'hindi': 100, 'history': 43}
4587511680

In [75]:
#shallow and deep copy

#as expected changes
my_dict={"science":34,"maths":45,"hindi":55,"Gender":["male","female"]}
print(my_dict)
xyz=my_dict
print(xyz)
xyz["Gender"][0]="trans"
print(xyz)
print(my_dict)

print()
print("Shallow copy")
print()

#Shallow copy

my_dict={"science":34,"maths":45,"hindi":55,"Gender":["male","female"]}
print(my_dict)
xyz=my_dict.copy()
print(xyz)
print(id(xyz))
print(id(my_dict))

xyz["Gender"][0]="trans"
print(xyz)
print(my_dict)
print(id(my_dict["Gender"]))
print(id(xyz["Gender"]))
#still change the list refering to same id

{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['male', 'female']}
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['male', 'female']}
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['trans', 'female']}
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['trans', 'female']}

Shallow copy

{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['male', 'female']}
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['male', 'female']}
4587231232
4586933824
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['trans', 'female']}
{'science': 34, 'maths': 45, 'hindi': 55, 'Gender': ['trans', 'female']}
4587020416
4587020416

In [76]:
#deep copy 
import copy #module import

my_dict={"science":34,"maths":45,"hindi":55,"Gender":["male","female"]}
# xyz=copy.copy(my_dict)# same shallow copy
xyz=copy.deepcopy(my_dict)
print(id(my_dict["Gender"])) #different
print(id(xyz["Gender"]))

#list mein same method .copy()
#works similarly ; import copy module

4587025728
4574007808

In [81]:
#w4 a1 q10 q11 #11 very easy
'''
Q10. Ask 10 numbers from the user and put them into the list. 
Now remove all the even numbers ffrom that list.



'''
i=0
lst=[]
while i<10:
    a=int(input("enter a no."))
    lst.append(a)
    i+=1
    
print("start list",lst)

newlst=[]
for i in lst:
    if i%2==0:
        newlst.append(i)
print("second list",newlst)

enter a no.3
enter a no.1
enter a no.4
start list [3, 1, 4]
second list [4]

In [82]:
'''
Q11. Write a python program which prints all the values whose count is greater than 3. 
(Make sure to make a list with at least 15 numbers)
#use count key word
lst.count()
then append in result in not there
'''

'\nQ11. Write a python program which prints all the values whose count is greater than 3. \n(Make sure to make a list with at least 15 numbers)\n#use count key word\nlst.count()\nthen append in result in not there\n'

## Day 2

In [85]:
# lst=[5,4,3,2,4,2,1,3,4,1]
# count the number of each digit and save it in a dictionary

arr=[5,4,3,2,4,2,1,3,4,1]
#my_dict={}
my_dict=dict() #better way
n=len(arr)
for i in range(n):
    if arr[i] in my_dict:
        my_dict[arr[i]]+=1 #in this case exists just increasing the frequency as marks[science]=types
    else:
        my_dict[arr[i]]=1#kuch exist nahi toh apne aap creates and assigns one
print(my_dict)

'''
above is frequency map onli
key value basically -> map
'''

{5: 1, 4: 3, 3: 2, 2: 2, 1: 2}

In [86]:
'''
above is frequency map onli
key value basically -> map
better variable naming =>freq_map
'''
arr=[5,4,3,2,4,2,1,3,4,1]
#my_dict={}
freq_map=dict() #better way
n=len(arr)
for i in range(n):
    if arr[i] in freq_map:
        freq_map[arr[i]]+=1
    else:
        freq_map[arr[i]]=1
print(freq_map)

{5: 1, 4: 3, 3: 2, 2: 2, 1: 2}

In [97]:
#better way

#count why not use baar baar searches all the array n^2
arr=[5,4,3,2,4,2,1,3,4,1]
freq_map=dict()
for i in range(n):
    freq_map[arr[i]]=freq_map.get(arr[i],0)+1 #if exists increases by one else returns 0 and increments 1
    #None+1 error
print(freq_map)

#dictonary comprension also a way ;gets messy at times

{5: 1, 4: 3, 3: 2, 2: 2, 1: 2}

In [96]:
#char count
#frequency map for characters
strs="i am harsh uttamchandani"
freq_map=dict()
for i in range(len(strs)):
    freq_map[strs[i]]=freq_map.get(strs[i],0)+1
print(freq_map)

{'i': 2, ' ': 3, 'a': 5, 'm': 2, 'h': 3, 'r': 1, 's': 1, 'u': 1, 't': 2, 'c': 1, 'n': 2, 'd': 1}

In [102]:
#with func
from typing import Dict #annotations ke liye will be seen in leetcode

def countchars(string:str)->Dict[str,int]:
        freq_map=dict()
        for i in range(len(strs)):
            freq_map[strs[i]]=freq_map.get(strs[i],0)+1
        return(freq_map)
    
strs="i am harsh uttamchandani"
print(countchars(strs))

{'i': 2, ' ': 3, 'a': 5, 'm': 2, 'h': 3, 'r': 1, 's': 1, 'u': 1, 't': 2, 'c': 1, 'n': 2, 'd': 1}

In [120]:
#student
#my way very not good

details ={
          "anirudh": [45, 44, 33, 12, 5, 6, 45, 6, 2],
          "sanjay": [67, 89, 96],
          "vandana": [76, 43, 53, 21, 22],
          "vivek": [11, 22, 31, 78, 94]
         }

xyz=[]
for l in details.values():
    x=0
    for j in l:
        x+=j
    xyz.append(x)
    
print(xyz)
l=0
for i in details.keys():
    print("student",i,"has scored",xyz[l],"marks")
    l+=1

[198, 252, 215, 236]
student anirudh has scored 198 marks
student sanjay has scored 252 marks
student vandana has scored 215 marks
student vivek has scored 236 marks

In [130]:
#using in built function
details ={
          "anirudh": [45, 44, 33, 12, 5, 6, 45, 6, 2],
          "sanjay": [67, 89, 96],
          "vandana": [76, 43, 53, 21, 22],
          "vivek": [11, 22, 31, 78, 94]
         }
#len
#max max nikal dega
#min min nikaldega
#sum
for name, marks in details.items():
    x=0
    for i in marks:
        x+=i
    print(name,"has scored",x,"marks") #sum(marks)
    l+=1
    

#doubt discussion
#iska end mein discussion of projects and roadmap

anirudh has scored 198 marks
sanjay has scored 252 marks
vandana has scored 215 marks
vivek has scored 236 marks

## Day 3

In [131]:
def add(num1,num2):
    return num1+num2
add(5,10)

15

In [132]:
#Lambda
#anonymous function so call kaise karenge
lambda num1,num2 : num1+num2
#so we store in a variable
x=lambda num1,num2 : num1+num2

print(x(10,54))

64

In [133]:
# when onli one line that is returned 
#ex

def create_list(x):
    result=[]
    for i in range(1,x+1):
        result.append(i)
    return result

#multiple lines not possible

In [135]:
def create_list(x):
    return [i for i in range(1,x+1)]
create_list(4)
#lambda can be used

[1, 2, 3, 4]

In [137]:
alst=lambda x: [i for i in range(1,x+1)] 
alst(5)

[1, 2, 3, 4, 5]

In [146]:
#iseven

iseven= lambda a : [True if a%2==0 else False  ]
iseven(90)

iseven= lambda a :a%2==0 
iseven(33)

False

In [153]:
#sorting

my_list = [["Akul", 99], ["Karan", 54], ["Prateek", 21], ["Anirudh", 45],]

my_list[1][0]
my_list[0][-1]

my_list.sort()
print(my_list)

[['Akul', 99], ['Anirudh', 45], ['Karan', 54], ['Prateek', 21]]

In [167]:
#sorted bcz; sort doesnt work on dictionary
my_list = [["Akul", 99], ["Karan", 54], ["Prateek", 21], ["Anirudh", 45],] #<--- x x[0]akul x[1] 99
#works on iterables
new_list=sorted(my_list) #return somethingg
print(new_list)

#if want to sort by age
new_list=sorted(my_list,key=None)  #None by default #key mein can add a function so we add lambda
print(new_list)

new_list=sorted(my_list,key= lambda x: x[1] ) 
print(new_list)

new_list=sorted(my_list,key= lambda x: x[1] ,reverse=True) #reverse by default=false
print(new_list)


def myfunc(x):
    return x[1]
 
new_list=sorted(my_list,key=myfunc) #key is a parameter function ko call without () bas as a reference batao
print(new_list)

new_list=sorted(my_list,key= lambda x: x[0][-1]) #last letter se sort
print(new_list)
 
#  .sort internally karta hai same ko
# sorted returns not original mein change

[['Akul', 99], ['Anirudh', 45], ['Karan', 54], ['Prateek', 21]]
[['Akul', 99], ['Anirudh', 45], ['Karan', 54], ['Prateek', 21]]
[['Prateek', 21], ['Anirudh', 45], ['Karan', 54], ['Akul', 99]]
[['Akul', 99], ['Karan', 54], ['Anirudh', 45], ['Prateek', 21]]
[['Prateek', 21], ['Anirudh', 45], ['Karan', 54], ['Akul', 99]]
[['Anirudh', 45], ['Prateek', 21], ['Akul', 99], ['Karan', 54]]

In [1]:
#sort dictionary
my_dict={"science":34,"maths":45,"hindi":55}
print(my_dict)# internally hashing so maybe not same order but baad mein add toh same in python 3.5 now ignore 
print(my_dict.items())# gives a list
# dict_items([('science', 34), ('maths', 45), ('hindi', 55)])
# [('science', 34), ('maths', 45), ('hindi', 55)]
# here list mein tuples so easy ; but list dega
new_details=sorted(my_dict.items(),key=lambda x:x[1])
print(new_details) #list dega

{'science': 34, 'maths': 45, 'hindi': 55}
dict_items([('science', 34), ('maths', 45), ('hindi', 55)])
[('science', 34), ('maths', 45), ('hindi', 55)]

In [4]:
#type conversion
#if list mein tuple tuple ho jaata hai conversions
x=[('science', 34), ('maths', 45), ('hindi', 55)]
print(dict(x))
#list mein tuple tuple do and then will be converted only tab hi

{'science': 34, 'maths': 45, 'hindi': 55}

In [2]:
#convert into dict
my_dict={"science":34,"maths":45,"hindi":55}
new_details=dict(sorted(my_dict.items(),key=lambda x:x[1]))
print(new_details) #list dega

{'science': 34, 'maths': 45, 'hindi': 55}

In [12]:
#list of dictionaries
details=[
    {"name":"Anirudh","age":23,"gender":"male"},#dict 1
    {"name":"muskan","age":98,"gender":"female"},#dict 2
    {"name":"nihar","age":34,"gender":"male"},#dict 3
    {"name":"pratik","age":12,"gender":"male"}#dict 4

]

print(details)
print(details[2])
print(details[2]["gender"])
print(details[2].get("name"))
print(details[1]["name"]) 
print(details[1].keys()) 


#age wise sort
new_details=sorted(details,key= lambda x: x["age"])
print(new_details)

[{'name': 'Anirudh', 'age': 23, 'gender': 'male'}, {'name': 'muskan', 'age': 98, 'gender': 'female'}, {'name': 'nihar', 'age': 34, 'gender': 'male'}, {'name': 'pratik', 'age': 12, 'gender': 'male'}]
{'name': 'nihar', 'age': 34, 'gender': 'male'}
male
nihar
muskan
dict_keys(['name', 'age', 'gender'])
[{'name': 'pratik', 'age': 12, 'gender': 'male'}, {'name': 'Anirudh', 'age': 23, 'gender': 'male'}, {'name': 'nihar', 'age': 34, 'gender': 'male'}, {'name': 'muskan', 'age': 98, 'gender': 'female'}]

In [16]:
#print in a format manner

details=[
    {"name":"Anirudh","age":23,"gender":"male"},#dict 1
    {"name":"muskan","age":98,"gender":"female"},#dict 2
    {"name":"nihar","age":34,"gender":"male"},#dict 3
    {"name":"pratik","age":12,"gender":"male"}#dict 4

]

for index in range(0,len(details)):
    d=details[index]
    print(d["name"],d["age"],d["gender"])

Anirudh 23 male
muskan 98 female
nihar 34 male
pratik 12 male

In [21]:
#set -: data type -: to store unique values

my_set={54,64,3,2,5,23,3,2,"harsh"} 
print(my_set)#only unique aayega
#unordered aayega
print(type(my_set))
#unordered so no indexing
#mutable
my_set.add(100)
print(my_set)#randomly kahi bhi add

my_set.add(3)#koi farak nahi padega
print(my_set)
#remove by value

my_set.remove(100)
print(my_set)

{64, 2, 3, 5, 54, 23, 'harsh'}
<class 'set'>
{64, 2, 3, 100, 5, 54, 23, 'harsh'}
{64, 2, 3, 100, 5, 54, 23, 'harsh'}
{64, 2, 3, 5, 54, 23, 'harsh'}

In [22]:
#empty set

my_set={}
print(type(my_set))

my_set=set()
print(type(my_set))

<class 'dict'>
<class 'set'>

In [24]:
my_set={1,2,3,4,"harsh",99.9,-100}
print(my_set)

for num in my_set:
    print(num)
    
# in|not in

{1, 2, 3, 99.9, 4, 'harsh', -100}
1
2
3
99.9
4
harsh
-100

In [25]:
#conversions
my_list=[5,6,5,5,5,5,4,3,2,2,3,1]
my_set=set(my_list)
print(list(my_set)) #not in the order

[1, 2, 3, 4, 5, 6]

In [28]:
#duplicates

my_list=[5,6,5,5,5,5,4,3,2,2,3,1]
my_set=set()
for index in range(0,len(my_list)):
    my_set.add(my_list[index])
    
print(my_set)

{1, 2, 3, 4, 5, 6}

In [15]:
#list extend -:padh lena imp-: last mein extend
#set update;add

# union -: both
# intersection -: common in both
# +,- ,|(bitwise or)

a={2,3,4,5}
b={4,6,8,9}
print(a.intersection(b))
print(a.union(b))
print(a - b)
print(a | b)

{4}
{2, 3, 4, 5, 6, 8, 9}
{2, 3, 5}
{2, 3, 4, 5, 6, 8, 9}

In [52]:
#Q8 
'''
Write a Python program to combine two dictionary by adding values for common keys.
d1 = fa': 1100, 1b::200, 'c':300)
d2 = (al: 300, 'b': 200, d':400)
Sample output: fa': 400, 'b': 400, 'd': 400, 'c': 300)
'''
d1 = {'a': 100, 'b':200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}



dl1 = sorted(d1.items())
dl2 = sorted(d2.items())

'''
[('a', 100), ('b', 200), ('c', 300)]
[('a', 300), ('b', 200), ('d', 400)]
'''

"\n[('a', 100), ('b', 200), ('c', 300)]\n[('a', 300), ('b', 200), ('d', 400)]\n"

In [46]:
'''
Q6. Ask a string from user. Store the frequency of each character in the dictionary. Then print the character with the maximum frequency.
Input:
Please enter a string: hello world
Output:
The character with the maximum frequency is 't
'''

abc=input("enter")
freq_map=dict()
for i in range(len(abc)):
    freq_map[abc[i]]=freq_map.get(abc[i],0)+1
print(freq_map)

#freq_map.items mein iterate karke also one can do max= none types karke

newdict=sorted(freq_map.items(), key= lambda x : x[1])
print(newdict[-1])

enterhello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
('l', 3)

## DAY 4

In [16]:
#OOPS concept

class student:
    #attributes
    id=0
    name="default"
    gender=""
    age=""
    
    #methods ; class ke andar ke functions ko called functions
    def display(self): # self -: ek class ke andar method self compulsory
        print(self)# joh aayega uska address print
        print(f"name={self.name}") #whoever is calling method woh self mein aa jaayega
        print(f"id={self.id}")
        print(f"gender={self.id}")
        print(f"age={self.id}")
    
s1=student()
print(type(s1)) #<class '__main__.student'>

a=[2,3,4]
print(type(a)) #<class 'list'>

# in python actually everything is an object
s2=student()
s1.name="harsh"

print(s1.name)
print(s1)# address print
print(s1.id)
print(s2.name)
s1.display()
s2.display()

<class '__main__.student'>
<class 'list'>
harsh
<__main__.student object at 0x104b8ddd0>
0
default
<__main__.student object at 0x104b8ddd0>
name=harsh
id=0
gender=0
age=0
<__main__.student object at 0x104b94490>
name=default
id=0
gender=0
age=0

In [17]:
class student:
    #attributes
    
    id=0
    name="default"
    gender=""
    age=""
    
    def getDetails(self):
        self.id=int(input("id "))
        self.name=input("name")
        self.gender=input("gender ")
        self.age=int(input("age "))
    
    #methods ; class ke andar ke functions ko called functions
    def display(self): # self -: ek class ke andar method self compulsory
        print(self)# joh aayega uska address print
        print(f"name={self.name}") #whoever is calling method woh self mein aa jaayega
        print(f"id={self.id}")
        print(f"gender={self.id}")
        print(f"age={self.id}")
    
s1=student()
print(type(s1)) #<class '__main__.student'>

a=[2,3,4]
print(type(a)) #<class 'list'>

# in python actually everything is an object
s2=student()
s1.name="harsh"

s3=student()
s3.getDetails()
s3.display()  
print(s1.name)
print(s1)# address print
print(s1.id)
print(s2.name)
s1.display()
s2.display()

<class '__main__.student'>
<class 'list'>
id 1
namejak
gender m
age 8
<__main__.student object at 0x104b94490>
name=jak
id=1
gender=1
age=1
harsh
<__main__.student object at 0x104b70bd0>
0
default
<__main__.student object at 0x104b70bd0>
name=harsh
id=0
gender=0
age=0
<__main__.student object at 0x104b8ddd0>
name=default
id=0
gender=0
age=0

In [19]:
def process_values():
    a = 0
    b = 5
    c = 12

    # First if statement
    if c > 3:
        a = 10 & c  # Bitwise AND operation

    # Second if statement
    if (c - a + b) > (b - c):
        a = (a + 6) + c
        c = (a == a) & b  # Bitwise AND operation with boolean expression

    return a + b + c

# Call the function and print the result
result = process_values()
print(result)

32