In [13]:
#Lists operations

lst1=[1,2,3]
lst2=[1,3,4]
#add 
res=lst1+lst2
print(res)
#add a no
#res2=lst1+5 #can only concatenate list (not "int") to list
#res2=lst1-5 # unsupported operand type(s) for -: 'list' and 'int'
#res2=lst1/5 #unsupported operand type(s) for /: 'list' and 'int'
res2=lst1*5 #can be done har cheez baar 5 times repeat
#make a list jaha mein sab 0 10 times
lst=[0]*10
#multiply list to a list
#print(lst1*lst2) #error,can't multiply sequence by non-int of type 'list'
print(res2)
print(lst)

[1, 2, 3, 1, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
#updating list
#overwrite here

my_list=[10,5,'harsh'] #list
my_list=55 #overwrite not update #int ; data type hi change kardiya 
print(my_list)

my_list=[10,5,'harsh']
#ids of lists
print(id(my_list)) #ek id hoti hai uss location ki throughout waise
print(id(my_list)) #same aayegi
print(type(my_list))
my_list=55
print(id(my_list))# value is changed that means new variablen hi create hogaya hai
print(type(my_list))

55
4374110144
4374110144
<class 'list'>
4303055768
<class 'int'>

In [21]:
#annotations sirf dikhane ke liye
my_list:list=[10,5,'harsh'] #list with any thing
my_list:list[int]=[10,5]
print(my_list)

# other way ; leetcode use karta hai ; module ka use
from typing import List #list ;tuple; dictionary teeno import ; rem capital L List mein

lst1:List[str]=['harsh','harsh2']
print(lst1)

[10, 5]
['harsh', 'harsh2']

In [24]:
#updating

my_list=[10,5,'harsh']
print(my_list)
print(id(my_list))
my_list[0]=100
print(my_list)
print(id(my_list)) #id remains same

[10, 5, 'harsh']
4372913856
[100, 5, 'harsh']
4372913856

In [27]:
# even ko 0 odd ko 1 in a list ; similarly position ke liye a[i]%2==0 ki jagah i%2==0
my_list=[10,5,9,10,11,3,4]
print(my_list)

for i in range(0,len(my_list)):
    if(my_list[i]%2==0):
        my_list[i]=0
    else:
        my_list[i]=1

print(my_list)

[10, 5, 9, 10, 11, 3, 4]
[0, 1, 1, 0, 1, 1, 0]

In [28]:
#pass_by_reference

def change(a,b):
    a=100
    b=100

a=1
b=1
change(a,b)
print(a,b)

#pass by value ;farak nahi padega usmein
#int; FLOAT;strings are pass by value

1 1

In [31]:
from typing import List

def change(my_list:list):
    my_list[0]=100

xyz=[2,5,2]
change(xyz)
print(xyz)

#pass by refernce hota hai
#mutable mein-: list
#xyz sends address apna my list and xyz pointing towards same ; id will be same

[100, 5, 2]

In [50]:
#methods ; specific data types ke saath
#lists ke liye => 

#append;end mein daalna

xyz=[2,5,2]
xyz.append(100)
print(xyz)

#insert-: in btw daalna

xyz.insert(0,-90)
print(xyz)

xyz.insert(3,92) #shift karega 
print(xyz)

xyz.insert(10,22) #bahar toh end mein
print(xyz)

xyz.insert(-2,'harsh')
print(xyz)



#clear
xyz.clear()#list empty
print(xyz)

#count (no of occurence ka value return)

[2, 5, 2, 100]
[-90, 2, 5, 2, 100]
[-90, 2, 5, 92, 2, 100]
[-90, 2, 5, 92, 2, 100, 22]
[-90, 2, 5, 92, 2, 'harsh', 100, 22]
[]

In [62]:
xyz=[2,5,2]

print(xyz.count(2)) 

xyz.append(100)
xyz.append([2,3,4]) #list ke andar list
print(xyz) 
xyz.extend([2,3,4]) #list ke andar just extend karta hai ; iterable hai list hai ; 
# + operator jaise but + se tuple nahi kar payenge extend se karta hai
print(xyz)

xyz.reverse() #ulta kardenge poora
print(xyz)

#xyz.sort() #error dega if string ya list ho toh ; sab integer ya 
#print(xyz)

#sort
abc=[43,89,19,82,54,23,12]
abc.sort()
print(abc)

abc=[43,89,19,82,54,23,12]
abc.sort(reverse=True) #for descending
print(abc)

#another way
abc=[43,89,19,82,54,23,12]
abc.sort() 
abc.reverse()
print(abc)

temp=['harsh','uttam','banana'] #sorts using ascii values
temp.sort()
print(temp)

2
[2, 5, 2, 100, [2, 3, 4]]
[2, 5, 2, 100, [2, 3, 4], 2, 3, 4]
[4, 3, 2, [2, 3, 4], 100, 2, 5, 2]
[12, 19, 23, 43, 54, 82, 89]
[89, 82, 54, 43, 23, 19, 12]
[89, 82, 54, 43, 23, 19, 12]
['banana', 'harsh', 'uttam']

In [74]:
# pop,remove,index 

# pop karte hai woh nikalta hai woh saath mein return bhi karta hai
abc=[43,89,19,82,54,23,12]
abc.pop() #last wala pop kardega
print(abc)
abc.pop(3)#remove by index
print(abc)
#abc.pop(45) #index error

#remove by value karta hai
abc.remove(19) #removes the first occurance ;doesn't return anything
print(abc)


#del -:kisi mein bhi(dict etc) by pos ; not method ; function
del abc[1]
print(abc)
#del abc # ab poora list delete
#print(abc) #NameError: name 'abc' is not defined

[43, 89, 19, 82, 54, 23]
[43, 89, 19, 54, 23]
[43, 89, 54, 23]
[43, 54, 23]

## assignment

In [77]:
'''
Make a list of your own. Make two more empty list like odd and even.
Put all the even numbers from original list to even and odd numbers to odd and print both lists. 
(Don't remove anything from original one).
'''

l=[2,3,4,5,6,8]
odd=[]
eve=[]
for i in l: #by value
    if i%2==0:
        eve.append(i)
    else:
        odd.append(i)
print(odd,eve)

[3, 5] [2, 4, 6, 8]

In [78]:
'''
Q2. Write a function to remove duplicates from a list and print them.
'''
l=[2,3,4,5,6,8]

## Day 2

In [89]:
#membership operators
#in or not in

l=[2,3,4,5,6,8]
x=1
y=2
'''
way 1
for i in l:
    if x==i:
        print('yes')
        break
        
'''

'''
way 2
if l.count(x)>=1:
    print('yes')
'''
#membership -: returns true ya false
if x in l:
    print("yes")
else:
    print("no")

#ulta bhi
if y not in l:
    print(False)
else:
    print(True)

no
True

In [103]:
#remove duplicates ; can contain duplicates
'''
l=[2,3,4,2,6,8]
x=2
for i in range(0,len(l)):
    if l[i]==x: 
        l.pop(i) # modifying length problematic #cannot modify length aise in the length
        # remove kar bhi dega but length ghat gayi ; but for loop poora jaayega 
        # IndexError: list index out of range

        
print(l)
'''
#other way
l=[1,2,2,2,3,4,4,2,6,2,8,2,2]
 # 0,1,2,3,4,5,6,7,8,9,10,11,12
    

#internally by index jaayega
x=2
for num in l:
    if num==x: 
        l.remove(num) #removes first index
'''
still problem hai 
l=[1,2,2,2,3,4,4,2,6,2,8,2,2]
 # 0,1,2,3,4,5,6,7,8,9,10,11,12
 
#0
#1
[1,2,2,3,4,4,2,6,2,8,2,2]
#2 removes first occurance
[1,2,3,4,4,2,6,2,8,2,2]
#3 
#4
#5 removes first ocurance
[1,3,4,4,2,6,2,8,2,2]
#6 removes first ocurance
[1,3,4,4,6,2,8,2,2]
as follow up hoga wierd behaviour show hoga
'''
print(l)

[1, 3, 4, 4, 6, 8, 2, 2]

In [104]:
#remove duplicates
#another varible result
#correct way

l=[1,2,2,2,3,4,4,2,6,2,8,2,2]
    

#internally by index jaayega
x=2
result=[]
for num in l:
    if num!=x:
        result.append(num)
print(result)

[1, 3, 4, 4, 6, 8]

In [109]:
#saare duplicates remove
#proper way 

l=[1,2,2,2,3,4,4,2,6,2,8,2,2]
    

#internally by index jaayega
x=2
result=[]
n=len(l)
for i in range(0,n):
    num=l[i]
    if num not in result:
        result.append(num)
print(result)

#o(n^2) complexity
# so complexity reduce ho jaayegi set se
# dsa mein with out other list ke

[1, 2, 3, 4, 6, 8]

In [132]:
#list slicing

'''
#manually 
l=[1,2,19,2,3,4,4,2,6,2,8,2,2]
result=[]
for i in range(0,3):
    result.append(l[i])
print(result)
'''

# arr[start:end:step]
#if step +ve aage else peeche (end-1) tak karega as in for #just like for loop
#by default 1 step

l=[54,64,59,12,33,44,33,10]
result=l[0:3]
print(result)
print(l[1:8:2])
print(l[2:5:-2]) #empty array
print(l[5:2:-1])
print(l[-7:-4])
print(l[3:len(l)])
print(l[3:])#3 se end tak
print(l[3::-1]) #ulta starting tak from 3rd index
print(l[:]) #start to end l to r
print(l[::-1]) #reverse array r to l

[54, 64, 59]
[64, 12, 44, 10]
[]
[44, 33, 12]
[64, 59, 12]
[12, 33, 44, 33, 10]
[12, 33, 44, 33, 10]
[12, 59, 64, 54]
[54, 64, 59, 12, 33, 44, 33, 10]
[10, 33, 44, 33, 12, 59, 64, 54]

In [2]:
#create a new lists
result=[]
for i in range(1,10):
    result.append(i)
print(result)


result=[]
for i in range(1,10):
    result.append(i+5)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
# list comphrehension

result=[i for i in range(1,11)]
print (result)

result=[i+5 for i in range(1,11)]
print (result)

start=4
end=22
result=[i for i in range(start,end+1)]
print (result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [12]:

result=[]
for i in range(1,10):
    result.append(i%2==0)
print(result)

result=[i%2==0 for i in range(1,11)]
print (result)

[False, True, False, True, False, True, False, True, False]
[False, True, False, True, False, True, False, True, False, True]

In [27]:
result=[]
for i in range(1,10):
    if i%2==0:
        result.append("even")
    else:
        result.append("odd")
print(result)

#else is compulsory here
result=["Even" if i%2==0 else "odd" for i in range(1,10)] #kya add karna hai aage 
print (result)

#error

#result=["Even" if i%2==0 else pass for i in range(1,10)] #kya add karna hai aage 
#print (result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']
['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

In [26]:
#make a list with even no only

result=[i for i in range(1,10) if i%2==0] #kab add karna hai piche
print (result)

[2, 4, 6, 8]

In [31]:
arr=["234",1930,232,44]
result=[int(i) for i in arr]
print(result)

[234, 1930, 232, 44]

In [40]:
#prime using list comprehension
def isprime(n):
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
l=[4,16,23,13,53,24,19]

result=[i for i in l if isprime(i)]
print(result)

[23, 13, 53, 19]

# Day 3- Tuples

In [46]:
#() used for denoting
my_tuple=("a","bc",45,55.55)
print(my_tuple)

print(my_tuple[0])
#immutables
#my_tuple[0]=12 #'tuple' object does not support item assignment

('a', 'bc', 45, 55.55)
a

TypeError: 'tuple' object does not support item assignment

In [52]:
#immutable so very less methods
#count and index
my_tuple=("a",45,55.55,45)
print(my_tuple.count(45))
print(my_tuple.index(45))
#print(my_tuple.index(100)) #ValueError: tuple.index(x): x not in tuple

2
1

In [64]:
#tuple iteration

my_tuple=("a",45,55.55,45)
print(my_tuple)
print(my_tuple[-1])
#via index
for i in range(0,len(my_tuple)):
    print(my_tuple[i],end=' ')
print()
#via value   
for num in my_tuple:
    print(num,end=' ')

('a', 45, 55.55, 45)
45
a 45 55.55 45
a 45 55.55 45

In [67]:
#indirect way of appending mutate

my_tuple=("a",45,55.55,45)
print(id(my_tuple))
a=list(my_tuple)
a.append(55)

my_tuple=tuple(a)
print(id(my_tuple)) #id changes

print(my_tuple)

4369974832
4369164272
('a', 45, 55.55, 45, 55)

In [73]:
a=10,23,53,23,19,34 #is a tuple
print(a)
print(type(a))

b=10
print(b)
print(type(b))

c=(10) #still int
print(c)
print(type(c))

d=(10,)#aise karke
print(d)
print(type(d))

(10, 23, 53, 23, 19, 34)
<class 'tuple'>
10
<class 'int'>
10
<class 'int'>
(10,)
<class 'tuple'>

In [77]:
#unpacking

a,b,c=[12,42,13]
print(a,type(a))
print(b,type(b))
print(c,type(c))

print()

a,b,c=(12,42,13)
print(a,type(a))
print(b,type(b))
print(c,type(c))

#both tuples onli

12 <class 'int'>
42 <class 'int'>
13 <class 'int'>

12 <class 'int'>
42 <class 'int'>
13 <class 'int'>

In [80]:
#unpacking
#error to many values to unpack
'''
a,b,c=[12,42,13,23,323]
print(a,type(a))
print(b,type(b))
print(c,type(c))

print()
'''

#swaping is unpacking only
x=10
y=20

x,y=y,x

print(x)
print(y)

20
10

## Strings

In [93]:
#strings

a='hello world'
print(a)
print(type(a))

#immutable
#a[2]='e' #error 'str' object does not support item assignment

print(len(a))
print(a[0])
print(a[1])
print(a[2])
print(a[3])

#via index
for index in range(len(a)):
    print (a[index],end='')
print()
#via value
for ch in a:
    print(ch,end='')
print()    
#reverse order
for index in range(len(a)-1,0-1,-1):
    print(a[index],end='')

hello world
<class 'str'>
11
h
e
l
l
hello world
hello world
dlrow olleh

In [95]:
#unpacking for strings

x,y,z="abc"

print(x)
print(y)
print(z)

a
b
c

In [99]:
#slicing
a='hello world'
print(a[::-1])
print(a[1:5])
print(a[5:1:-1])
print(a[::2])

dlrow olleh
ello
 oll
hlowrd

In [103]:
#reverse order
a='hello world'
x=a[::-1]
for char in x:
    print(char,end='')
print()
#same as above direct
for char in a[::-1]:
    print(char,end='')

dlrow olleh
dlrow olleh

In [106]:
#count no of o's
#both caps and not caps O
c=0
a="Helllooo woOrld"
for i in a:
    if i=='o' or i=='O':
        c+=1
print(c)

5

In [136]:
#string methods
#many methods 25 tak
a="HelLloOo woOrld"
a.lower()
print(a)
print(id(a))
#not changing a as immutable save in another
b=a.lower()
print(b)

a=a.lower() #gives you another string joh ek alag mein jaayegi
print(id(a))
print(a)

c=a.upper()
print(c)

d=a.title() #onli pehla letter captial of each word
print(d)

e=a.capitalize()#only pehla letter poori string ka
print(e)
x='aNiruDh'

f=x.swapcase() #just ulta capital to lower and lower to cap
print(f)

x="124dvfa"
y="anirudg"
z="ANIRUDH"
xyz="1234"

print(x.islower())
print(z.islower())
print(z.isupper())
print(x.isalpha()) #all alphabets
print(x.isalnum()) #alpha+nums
print(xyz.isdigit())

HelLloOo woOrld
4370879536
helllooo woorld
4370302704
helllooo woorld
HELLLOOO WOORLD
Helllooo Woorld
Helllooo woorld
AnIRUdH
True
False
True
False
True
True

In [138]:
#ques 
#input a 2 strings if 2 numbers int add else concadenate

a=input("enter something")
b=input("enter something 2")
if(a.isdigit() and b.isdigit()):
    c=int(a)+int(b)
else:
    c=a+b
print(c)

enter something4
enter something 2afdf
4afdf

In [142]:
#w4 a3 q3

list2=[2,45,2,5]
n=int(input("n= ?"))
length=len(list2)
l2=list2[length-1:length-n-1:-1]
l2.reverse()
print(l2)

n= ?2
[2, 5]

## Day 4

In [147]:
#ascii

#ord is used to convert

char='a'
print(ord(char))
char=' '
print(ord(char))
char='A'
print(ord(char))
char='0'
print(ord(char))

97
32
65
48

In [152]:
#count the number of digits
char='abcdfefgsjfnfbb vnjasj32123'
c=0
for i in char:
    if(i.isdigit()):
        c+=1
        
print(c)

#ascii way
char='abcdfefgsjfnfbb vnjasj32123'
c=0
for i in char:
    if(ord(i)>=48 and ord(i)<=57):
        c+=1
        
print(c)

5
5

In [157]:
#

char = "Hhj4388*8$*#(     AMNUuda1218*(^S#*8))"
abc='aB2 3@'
caps=0
small=0
special=0
digit=0
space=0
for i in char:
    ch=ord(i)
    if(ch==ord(' ')):
        space+=1
    elif(ch>=48 and ch<=57):
        digit+=1
    elif(ch>=97 and ch<=122):
        small+=1
    elif(ch>=65 and ch<=90):
        caps+=1
    else:
        special+=1
        
print(caps)
print(space)
print(digit)
print(small)
print(special)

6
5
10
5
12

In [162]:
#other way

# print('a'>60) #error
print('a'>'A') #converts apne aap implicit
print('anirudh'>'anig') #letter by letter r and g compare r>g 114>103
print('aniR'>'anir')

True
True
False

In [164]:
char = "Hhj4388*8$*#(     AMNUuda1218*(^S#*8))"
abc='aB2 3@'
caps=0
small=0
special=0
digit=0
space=0
for i in char:
    if(i==' '):
        space+=1
    elif('0'<=i<='9'):
        digit+=1
    elif('a'<=i<='z'):
        small+=1
    elif('A'<=i<='Z'):
        caps+=1
    else:
        special+=1
        
print(caps)
print(space)
print(digit)
print(small)
print(special)

6
5
10
5
12

In [171]:
'''
taking input char
until q presed
'''
ans=''
# ans+='s' ans ka dusra id banta hai
while(True):
    x=input("enter char")
    if(x=='q' or x=='Q'):
    #if x in ['q','Q']:  another way
        break
    ans+=x

print(ans)

enter chara
enter chard
enter charf
enter charq
adf

In [ ]:
a=[]#empty list
a=list() #another way of making

a=int()
b=str()

In [179]:
#lower to upper
strs='abNJFSD'
result=""
for i in strs:
    ascii_code=ord(i)
    if 97<=ascii_code<=122:
        ascii_code-=32
        result+=chr(ascii_code)
    else:
        result+=i
print(result)

ABNJFSD

In [181]:
#upper to lower

strs='abNJFSD'
result=""
for i in strs:
    ascii_code=ord(i)
    if 65<=ascii_code<=91:
        ascii_code+=32
        result+=chr(ascii_code)
    else:
        result+=i
print(result)

abnjfsd

In [182]:
#small+upper toggle case
strs='abNJFSD34dfjaiNBDS'
result=""
for i in strs:
    ascii_code=ord(i)
    if 65<=ascii_code<=91:
        ascii_code+=32
        result+=chr(ascii_code)
    elif 97<=ascii_code<=122:
        ascii_code-=32
        result+=chr(ascii_code)
    else:
        result+=i
print(result)

ABnjfsd34DFJAInbds

## DAY 5

In [183]:
#spiliting and joining

In [185]:
#joining
#by values 
a=['a','xyz','strings','587']
result=''
for i in a:
    result+=i
print(result)

#by index
a=['a','xyz','strings','587']
result=''
for i in range(0,len(a)):
    result+=a[i]
print(result)

axyzstrings587
axyzstrings587

In [195]:
#joining
#join works on iterables

a=['a','xyz','strings','587']
#via space;or bracket kaise
result="-".join(a)
print(result)

result=" ".join(a)
print(result)

result=" ".join(i for i in a) #same way
print(result)

result="z".join(a) #end mein not z
print(result)

result="z".join(i for i in a) #same way end mein not z
print(result)

result="".join(i+'z' for i in a) #same way end mein z
print(result)

a-xyz-strings-587
a xyz strings 587
a xyz strings 587
azxyzzstringsz587
azxyzzstringsz587
azxyzzstringsz587z

In [199]:
mylist=[321,423,'asn']
print(str(mylist)) # string aa jaayegi
print(str(mylist)[0])
a="[321,423,'asn']" #similar to this

[321, 423, 'asn']
[

In [207]:
mm='python is a fun language'
print(list(mm)) #sab individual character ho jaayega
a=list(mm)


# each o to z
for i in range(0,len(a)):
    if a[i]=='o':
        a[i]='z'
print(''.join(a))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'f', 'u', 'n', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']
pythzn is a fun language

In [209]:
#spliting

my_string="python is a good language"
ans=my_string.split() #split by default space #white space :/n; :t; space
print(ans)

ans=my_string.split('n') # not included n and splits 
print(ans)

['python', 'is', 'a', 'good', 'language']
['pytho', ' is a good la', 'guage']

In [226]:
#create a function to reverse words 
#takes a string ; #python is good #good is python
#return

def reverse_words(s:str)->str:
    words=s.split()
    words.reverse() # or words=words[::-1] then it behaves as string only

    result=" ".join(words)
    #return " ".join[i for i in s.split()[::-1]] #one line
    return result
s='python is good'
print(reverse_words(s))

good is python

In [238]:
#revers individual words
def indi_reverse_words(s:str)->str:
    
    words=s.split()    
    # return " ".join(i[::-1] for i in words) one line se
    ans=''
    for i in words:
        ans+=i[::-1]
        ans+=' '
    return ans

s='python is good'
print(indi_reverse_words(s))

nohtyp si doog

In [239]:
#Homework
'''
methods to try:
string="abcdedf"

count
endswith
startswith
index;rfind
find;rindex
strip;lstrip;rstrip
replace

'''
string = "abcdedf"

# count
print(string.count("d"))  # Output: 2

# endswith
print(string.endswith("f"))  # Output: True

# startswith
print(string.startswith("abc"))  # Output: True

# index
print(string.index("d"))  # Output: 3

# rfind
print(string.rfind("d"))  # Output: 5

# find
print(string.find("d"))  # Output: 3

# rindex
print(string.rindex("d"))  # Output: 5

# strip
string_with_spaces = "  abcdedf  "
print(string_with_spaces.strip())  # Output: "abcdedf"

# lstrip
print(string_with_spaces.lstrip())  # Output: "abcdedf  "

# rstrip
print(string_with_spaces.rstrip())  # Output: "  abcdedf"

2
True
True
3
5
3
5
abcdedf
abcdedf
  abcdedf

In [240]:
string = "abcdedf"
# Replace all occurrences of 'd' with 'x'
print(string.replace("d", "x"))  # Output: "abcxexf"

# Replace only the first occurrence of 'd' with 'x'
print(string.replace("d", "x", 1))  # Output: "abcxedf"

abcxexf
abcxedf

In [255]:
#q5 assignment
#replace non alpabets with spaces

s='python,hdsa,@'
ans=''

for i in range(len(s)):

    if (s[i].isalpha()==True):
        ans+=s[i]
    
    else:
        ans+=' '
print(ans)

python hdsa