# DAY 1

In [3]:
#nested loops

for i in range (1,4):
    print(i,end=' ')
    for j in range(10,13):
        print(j,end=' ')
    print()

1 10 11 12
2 10 11 12
3 10 11 12

In [5]:
'''
*****
*****
*****
*****
*****
'''
#use row and col concept;i for row j for columns

for i in range(1,5):
    for j in range(1,5):
        print('*',end='')
    print()

****
****
****
****

In [7]:
'''
12345
12345
12345
12345
12345
'''
for i in range(1,6):
    for j in range(1,6):
        print(j,end='')
    print()

12345
12345
12345
12345
12345

In [8]:
'''
11111
22222
33333
44444
55555
'''
for i in range(1,6):
    for j in range(1,6):
        print(i,end='')
    print()

11111
22222
33333
44444
55555

In [10]:
'''
*
**
***
****
*****
'''

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [12]:
'''
1
12
123
1234
12345

'''

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [13]:
'''
1
21
321
4321
54321
'''

for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end='')
    print()

1
21
321
4321
54321

In [15]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end='')
    print()

5
45
345
2345
12345

In [19]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

another way; harder loop ulta
'''
for i in range(1,6):
    for j in range(1,i+1):
        print(5-i+j,end='')
    print()

5
45
345
2345
12345

# Day 2

In [26]:
'''
    *
   **
  ***
 ****
***** 
'''

for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end='')
    print('')

    *
   **
  ***
 ****
*****

In [27]:
'''
    1
   12
  123
 1234
12345 
'''

for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(1,i+1):
        print(j,end='')
    print('')

    1
   12
  123
 1234
12345

In [28]:
'''
    1
   21
  321
 4321
54321 
'''
for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(i,0,-1):
        print(j,end='')
    print('')

    1
   21
  321
 4321
54321

In [33]:
'''
    5
   45
  345
 2345
54321 
way 1
'''
for i in range (1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(i,0,-1):
        print(6-j,end='')
    print('')

    5
   45
  345
 2345
12345

In [35]:
'''
    5
   45
  345
 2345
12345 
another way easier
'''
for i in range (5,0,-1):
    for sp in range(1,i):
        print(' ',end='')
    for j in range(i,6):
        print(j,end='')
    print('')

    5
   45
  345
 2345
12345

In [36]:
'''
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5
'''

for i in range(1,6):
    for sp in range(1,5-i+1):
        print(' ',end='')
    for j in range(6-i,6):
        print(j,end=' ')
    print()

    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [41]:
'''

*
**
***
****
*****
****
***
**
*
'''
n=int(input("n=? "))

for i in range(1,n):
    for j in range(1,i+1):
        print('*',end='')
    print()
    
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    print()

#sir did using n//2 like total lines types and not for even here n stand for first half

n=? 5
*
**
***
****
****
***
**
*

In [ ]:
# doubt and assigment discussion

## Day 3

In [42]:
# question discussion

In [9]:
#W3 assignment 2 hard patterns

'''
      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4 ...
'''
n= int(input())
for i in range(1,n+1):
    for sp in range(1,n-i+1):
        print(" ",end=" ")
    
    for j in range(1,2*i):
        print(i,end=" ") 
        
    print()

5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [17]:

'''
      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1
      
n=7 no. of lines
'''
#n//2=3

n=int(input('n?= '))
nn=n//2+1 #3
for i in range(1,nn+1):
    for sp in range(1,nn-i+1):
        print(" ",end=" ")
    for j in range(1,2*i) :
        print(i, end=" ")
    print()
for i in range(nn-1,0,-1):
    for sp in range(1,nn-i+1):
        print(" ",end=" ")
    for j in range(1,2*i) :
        print(i, end=" ")
    print()

n?= 9
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [18]:
#some discussion about interviews and patterns wale assignment ki baat thodi bahut

In [20]:
#assignment 2 q9
'''
1
2 3
4 5 6
7 8 9 10

'''

count=1
for i in range(1,6):
    for j in range(1,i+1):
        print(count,end=' ')
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
'''
assignment 1 q4
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
'''

for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

## DAY 4

In [ ]:
#LISTS