# Day 2

In [4]:
#Basics
#.py extension

# A .pyc file is a compiled Python module that contains the bytecode representation of a Python script

In [4]:
print("hello")
print("ok done")

#by default end with new line
print("hello",end=" ")
print("this",end=" ")
print("is",end=" ")
print("harsh")

print("my name is harsh",end=" ")
print("age is 22",end=" ")
print("gender is male",end=" ")

hello
ok done
hello this is harsh
my name is harsh age is 22 gender is male

In [ ]:
#comments for making code readable and understandable -: single line

"""
multiline comment
Docstrings (double quotes and single quotes x 3)
"""

# Use cmd+/ to comment multiple lines together by selecting them

In [17]:
"""
escape sequence
\n-:new line ;
\t -: tab; 
\\ -: \;
\" -: " ; 
\' -: ' 

always in double quotes -: print waale ke saath allowed

"""
print("hello \nharsh")
print("hello \tharsh")#one tab=4spaces
print("hello \\nharsh")
print("hello \"harsh")
#error print("hello "harsh""") ya bahar use single quotes aur vice versa
print("hello \"harsh\" ")
print('hello "harsh" ')
print("hello 'harsh' ")

hello
harsh
hello 	harsh
hello \nharsh
hello "harsh
hello "harsh"
hello "harsh"
hello 'harsh'

In [18]:
#py/\thon

print("pyt/\\hon")

pyt/\hon

In [21]:
# py"\"/"\"thon

print('py"\\"/"\\"thon')
print("py\"\\\"/\"\\\"thon")

py"\"/"\"thon
py"\"/"\"thon

In [22]:
#variables

a=10
b=12
total=a+b
print(total)

22

In [27]:
'''
abc #valid
first_name #valid
ABC #valid
a_b_c #valid
_abc123 #valid
______ #valid
_123 #valid
___3___#valid
3abc #invalid
'''

'\nabc #valid\nfirst_name #valid\nABC #valid\na_b_c #valid\n_abc123 #valid\n______ #valid\n'

In [43]:
#printing variables

name="harsh"
age=22
gender='male'

#in vs code opt+shift+(up/down) upar neeche copy current line

print(name)
print(age)
print(gender)
print(name,age,gender) #apne aap gives space when , se print
print("my name is",name)
print("my name is",name,"i am",age,"years old","my gender is",gender)

#line pein kahi bhi click cmd+x (cut)

#using fstrings

print(f"my name is {name}")
print("my name is {name}") #as it is 


#print can be used for debugging

a=55
print(f"{a}")
print(f"a---{a}")
print(f"{a=}") #directly {} will give value
print(f"{name=}") # with data type single quotes bhi

harsh
22
male
harsh 22 male
my name is harsh
my name is harsh i am 22 years old my gender is male
my name is harsh
my name is {name}
55
a---55
a=55
name='harsh'

In [51]:
'''
#data types
integer -: int-: 68
float-:float-:2.09 #double and float same
string-:str-:"harsh","hi welcome",'ancc'
boolean-:bool-: True, False #T and F caps

others -: lists , sets , dicts etc 
'''

a=45
b='harsh'
c=53.3
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [61]:
#type conversion
a="harsh"
b="uttamchandani"
print(a+b)

c="100"
d="200"
print(c+d)

e=int(c)
f=int(d)

print(e+f)

print(int(c)+int(d))

harshuttamchandani
100200
300
300

In [ ]:
g=int("100acc") #error
f=int("00100") #removes 00
h=int("120.5")#error as float . for it problem

In [70]:
a=float(10)
print(a)

b=int(10.4)
print(b)

c=int(-11.6)  
print(c) #ans -11 and not -12 nearest zero wala no. 
#remove decimals bas

10.0
10
-11

In [74]:
#input from user
#by default takes takes string

a=input("1st no")
b=input("2nd no")
print(a+b)
print(int(a)+int(b))

1st no3
2nd no4
34
7

In [78]:
#avg and sum

a=int(input("1st no"))
b=int(input("1st no"))
c=int(input("1st no"))
d=int(input("1st no"))
e=int(input("1st no"))
#sum keyword use total
total=a+b+c+d+e
avg=total/5
print("sum =",total,"avg=",avg)

1st no5
1st no6
1st no4
1st no2
1st no1
sum = 18
 avg= 3.6

# assignment 1

In [82]:
'''
1) a=5 b=10
a > 5 and b>= 10 (false)
a >= 5 or not b > 10 (true)
not ( a > 5 and b > 5) (true)
not ( a < 10 or not b < 10) (false)
not (not a <= 5 or not b >= 10) (true)
'''
a=5
b=10
print(a > 5 and b>= 10)
print(a >= 5 or not b > 10 )
print(not ( a > 5 and b > 5))
print(not ( a < 10 or not b < 10))
print(not (not a <= 5 or not b >= 10))

False
True
True
False
True

In [86]:
'''
2)kms to miles
1km=0.621371 miles
'''
km=float(input("enter kms"))
miles=km*0.621371
print("miles=",miles)

enter kms45
miles= 27.9

In [87]:
'''3 done before'''
'''4)
rs->paisa
1rs =100 paisa
just do as kms to miles
'''

'3 done before'

In [96]:
#5)area of square

s=float(input("side= "))
area=s*s #or power (**) 2
print(area)

side= 3
9.0

In [90]:
'''
Q6. Ask number of games played in a tournament.
Ask the user number of games won and number of games loss. 
Calculate number of tie and total
Points. (1 win= 4 points, 1 tie =2 points)
'''
n=int(input("no. of games ?"))
w=int(input("no. of wins ?"))
l=int(input("no. of losses ?"))
tie=n-(w+l)
points=4*w+2*tie
print(f"{points=}")

no. of games ?10
no. of wins ?4
no. of losses ?3
points=22

In [94]:
# 7 divisible by 3
a=int(input("enter a no "))
if(a%3==0):
    print("divisible by 3")
else:
    print("not div by 3")

enter a no 5
not div by 3

In [ ]:
# 8 odd or even similar to above %2==0

In [ ]:
#9 rectangle = square ??
l=int(input("enter a len "))
b=int(input("enter a breadth "))
if(l==b):
    print("square")
else:
    print("rect")

# Day 3

In [106]:
#annotations
name="harsh"
print(name)
name=16
print(name)

#if settings.json vscode mein you have added the python.analysis.typecheckingmode=basic type cheez 
#then red dikhayega; still will work
age:int =20
print(age)
age="ji"
print(age)
age:int|str  =20 #dono allowed
#annotations are good practise

harsh
16
20
ji

In [107]:
'''
operators
Arthematic
Assignment
Comparison
logical
Membership
Identity
Bitwise

'''

'\n'

In [134]:
#arthematic +,-,/,*
# // floor divison
# ** power
# % modulus

a=10
b=2

#divison always gives floats

print(a/b)
print(a**b)
print(a%b)
print(a//b)
print(a**0.5) #sqrt

a=-16
b=5
#floor division humesha lower value dega unlike int 
print(a//b)
print(int(a/b))

#here why it comes 4 ??
print(a%b)
#number line wala concept divide karo remainder ko subtract from 5(divisor) then denominator ka sign

5.0
100
0
5
3.1622776601683795
-4
-3
-4

In [129]:
#assignment =, +=, -= ,/= ,%= ,**= etc

a=10
a+=10
print(a)
a-=9
print(a)
a**=2
print(a)

20
11
121

In [ ]:
#comparisions ()
#ans always in Boolean
#Q1 assignment 1

In [140]:
#Logical 
# And , OR , NOT
# do conditional/comparisions ko jodna
# basic logic gates , truth tables


m=30
c=32
p=12

print(m>20 or c>20)
print(c>30 or xyz>0) # doesnt check xyz 
print(not c>30 and xyz>0) # and mein bhi as and aur ek false hogaya hai
#print(c>30 and xyz>0) # name error

print(not(c>30))

True
True
False
False

# if-else

In [141]:
# conditions yeh toh yeh nahi toh yeh
#indentation ka khayal

age=int(input("age"))
if age>=18:
    print("y")
else:
    print("no")
print("done") #runs irrespective

age23
y
done

In [148]:
#Truthy and Falsy
# int-> only 0 is Falsy all others truthy(1,2,-19)
# float-> only 0.0 is Falsy all others truthy(1,2,-19,2.4)
# string-> only ""(empty string) is Falsy all others truthy("harsh"," "(space))

num=2
if num:
    print("y")
    
num=-1
if num:
    print("yneg")
    
num=0
if num:
    print("yzero")
    
num=""
if num:
    print("yempty")

    
#odd eve 
l=10
print(l%2) #gives 0 not true and false
if not(l%2): # ! symbol doesn't work
    print('y')
else:
    print('n')

y
yneg
0
y

# Assignment 2

In [152]:
'''q1 check divisible or not'''
a=int(input("enter a "))
b=int(input("enter b "))
if(not(a%b)):  #a%b==0 easy way ; just tried truthy or falsy
    print("divisble")
else:
    print("not")

enter a 2
enter b 1
divisble

In [ ]:
'''q2 75 se greater attendance
input from user classes held class attended
'''

a=int(input("enter class attended "))
b=int(input("enter class held "))
perc=(a/b)*100
if(perc>=75):
    print("allowed",perc)
else:
    print("not allowed",perc)

In [ ]:
'''q3 divisible 2,3 and not 8'''
a=int(input("enter no. "))
if(a%2==0 and a%3==0 and not(a%8==0)):
    print("check")
else:
    print("not satisfying cond")

In [4]:
'''q4 score grading'''

marks=int(input("enter marks:"))
if(marks>=90):
    print('A')
elif(marks>=80 and marks<90):
    print('B')
elif(marks>=70 and marks<80):
    print('C')
elif(marks>=60 and marks<70):
    print('D')
else:
    print('F')

enter marks:8
F

In [6]:
'''q5 Bill'''

amt=int(input("enter amount:"))
disc=0
if(amt>=50000):
    disc=30
elif(amt>=40000 and amt<=49000):
    disc=25
elif(amt>=30000 and amt<39000):
    disc=20
elif(amt>=10000 and amt<29999):
    disc=10
disamt=amt-(amt*30/100)
print(disamt)

enter amount:800000
560000.0

In [16]:
'''q6
smallest
here ig no need to check unique if use set
'''
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
d=int(input("d="))
#assume a smallest
min=a
if(b<min):
    min=b
if(c<min):
    min=c
if(d<min):
    min=d

print(min)

a=3
b=2
c=1
d=5
1

In [7]:
'''q7
salary and increment
just like bill one perform maths
'''

'q7'

In [19]:
'''q8
check leapp
'''
c=int(input("c="))
if(c%4==0 and((not(c%100==0))or (c%400==0))):
    print('leap')
else:
    print('not leap')

c=2016
leap

# contest

In [9]:
'''q1 absolute'''
a=int(input("a="))
if a>=0:
    print(a)
else:
    print(a*-1)

a=-32
32

In [15]:
'''2) triangle '''
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
if a+b+c==180:
    if a==90 or b==90 and c==90:
        print("right")
    elif a<90 and b<90 and c<90:
        print('acute')
    else:
        print('obtuse')
else:
    print("invalid")

a=23
b=67
c=90
obtuse

In [13]:
-1024//6 #point to remember floor division; basic precedeence (r to l for ** ; here no use but later maybe)

-171

In [ ]:
#solve in mind using pen paper;other ques;truthy and falsy ; precedence